<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <article class="card">
          <h3 class="text-center">Estabilidad</h3>
          <p>
            Buscamos construir una plataforma tecnológica estable y con soporte a
            largo plazo. Por lo que hemos seleccionado como base a CentOS 7.2
            una distribución de GNU/Linux con soporte extendido para 10
            años. Constituyéndonos en una alternativa viable y sostenible en el tiempo.
          </p>
        </article>
      </div>
      <div class="col-md-4">
        <article class="card">
          <h3 class="text-center">Listo para Trabajar</h3>
          <p>
            Pretendemos que DeskOS, sea un producto listo al salir de la caja, por
            lo que hemos incluido una colección de software útil en
            ambientes empresariales, entre los que podemos mencionar a
            los siguientes: LibreOffice 5, Thunderbird, Firefox, VLC y Codecs Multimedia.
          </p>
        </article>
      </div>
      <div class="col-md-4">
        <article class="card">
          <h3 class="text-center">Facilidad de uso</h3>
          <p>
            Nos preocupa la comodidad del usuario, valoramos el tiempo que se invierte
            aprendiendo una nueva herramienta, por lo que es nuestro compromiso entregar
            un sistema operativo, con una interfaz fácil e intuitiva y completamente
            localizada al español desde su primera versión.
          </p>
        </article>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <article class="card">
          <h3 class="text-center">Open Source</h3>
          <p>
            DeskOS es una plataforma construida sobre los principios tecnológicos y
            filosóficos del Open Source, así se debe mantener siempre. Descargarlo y
            distribuirlo libremente es nuestro compromiso con la sociedad y con nuestros usuarios.
          </p>
        </article>
      </div>
      <div class="col-md-4">
        <article class="card">
          <h3 class="text-center">Comunidad</h3>
          <p>
            Queremos convertir esta plataforma en un movimiento de alcance mundial,
            capaz de promover las ventajas del uso de herramientas open source en el
            entorno empresarial, por lo que estas cordialmente bienvenido si gustas participar
            de esta iniciativa.
          </p>
        </article>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
