<!-- why start -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="text-center">Esto</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos reiciendis est quidem illo, aperiam non eos officiis minus nihil fugiat atque omnis hic iure harum explicabo dicta consequuntur ducimus pariatur!</p>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">Esto</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos reiciendis est quidem illo, aperiam non eos officiis minus nihil fugiat atque omnis hic iure harum explicabo dicta consequuntur ducimus pariatur!</p>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">Esto</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos reiciendis est quidem illo, aperiam non eos officiis minus nihil fugiat atque omnis hic iure harum explicabo dicta consequuntur ducimus pariatur!</p>
            </div>
        </div>
    </div>
</section>
<!-- why end -->
