<!-- hero start -->
<section class="intro">
    <div class="hero-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                  <h1>DeskOS</h1>
                  <p>Made with love by Samuel</p>
                  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- hero end -->
