<section class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron text-center">
          <h1>DeskOS</h1>
          <p>Una distribución de Linux para entorno empresarial</p>
          <p><a class="btn btn-default btn-lg page-scroll" href="#intro" role="button">Saber más</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
