<!-- intro start -->
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                  <h2 class="text-center">Introducción a DeskOS</h2>
                </div>
                <p>
                    DeskOS es un proyecto ecuatoriano, cuyo objetivo es la construcción un sistema operativo; basado
                    en GNU/Linux para satisfacer las necesidades del usuario de nivel empresarial. Pensado para
                    organizaciones privadas, gubernamentales, escuelas, ONG's y pequeñas y medianas empresas. Nos
                    motiva entregar a la comunidad un producto de calidad, estable, innovador y con soporte a largo plazo.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- intro end -->
