<section id="outro">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p class="text-center">
          DeskOS no es solo una plataforma tecnológica, pretende constituirse en una comunidad de
          individuos motivados a construir un producto que se posicione como la mejor alternativa para el
          uso de una distribución de Linux en el escritorio empresarial.
        </p>
        <img class="img-responsive" src="./../assets/images/deskOS-logo-square.png" style="height: 200px; margin: 0 auto;" alt="" />
      </div>
    </div>
  </div>
</section>
