@import url('./bootstrap.min.css');
@import url('./font-awesome.min.css');
@import url('./jquery.fancybox.css');

$base-text: #fff;
$white: #f7f7f7;

* {
  border-radius: 0 !important;
}

body {
  color: $base-text;
  background: url('./../images/geometry2.png');
}

section {
  min-height: 400px;
  margin-bottom: 100px;
  color: #333;
  &.header {
    min-height: 100vh;
    background: linear-gradient(230deg,#a24bcf,#4b79cf,#4bc5cf);
    // background-image: linear-gradient(225deg, #70f6ea 0%,#51ccdc 100%);
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: ' ';
      background: url('./../images/texture-shapes-bg.png');
    }
    .jumbotron {
      color: $base-text;
      background-color: transparent;
    }
  }
}

#intro, #outro {
  p {
    font-size: 1.5em;
    text-align: justify;
  }
}

.hero-image {
  position: absolute;
  top: 250px;
  z-index: 0;
  width: 100%;
  background-size: cover;
}

footer {
  bottom: 0;
  z-index: 100;
  width: 100%;
  padding: 10px 0;
  color: $white;
  background-color: #333;
}


.btn-default {
  color: $white;
  background-color: transparent;
  border: 3px solid white;
  transition: background .4s ease;

  &:hover {
    background-color: $white;
  }
}

.card {
  height: 290px;
  padding: 20px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  color: #333;
  text-align: justify;
  background-color: rgba(#fff, .75);
  border: 1px solid #383737;
}

.paper {
  padding: 50px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  color: #333;
  text-align: justify;
  background-color: #fff;
}


.screen-image {
  padding: 5px;
  margin-bottom: 30px;
  text-align: justify;
  background-color: rgba(#fff, .75);
}

h2 {
  font-weight: bold;
}
