
//
$base-text: #dfdfdf;
$white: #f7f7f7;

* {
  border-radius: 0 !important;
}

body {
  color: $base-text;
  background: linear-gradient(230deg,#a24bcf,#4b79cf,#4bc5cf);
}

section {
  min-height: 800px;
  &.intro {
    min-height: 100vh;
    .jumbotron {
      background-color: transparent;
    }
  }
}

.jumbotron {
  margin-top: 100px;
}

.hero-image {
  position: absolute;
  top: 250px;
  z-index: -1000;
  width: 100%;
  min-height: 100%;
  background-size: cover;
}

footer {
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  color: $white;
  background-color: #333;
}


.btn-default {
  color: $white;
  background-color: transparent;
}

.card {
  height: 290px;
  padding: 20px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  color: #333;
  text-align: justify;
  background-color: $white;
  border: 1px solid #383737;
}
