@import './colors.scss';
@import './animations.scss';

.page-header {
  border-bottom: 1px solid transparent;
}

.btn-default {
  color: $white;
  background-color: transparent;
  border: 3px solid white;
  transition: background .4s ease;

  &:hover {
    background-color: $white;
    border: 3px solid $white;
  }
  &:focus {
    background-color: $white;
    border: 3px solid $white;
  }
}

.jumbotron {
  color: $white;
  background-color: transparent;
  animation: fadeIn 1.5s ease, drop 1.5s ease;
  h1 {
    font-weight: 700;
  }
}
